#common
node_modules
bundle.js
yarn.lock

# Ignore Mac DS_Store files
.DS_Store

#project specific
*.sqlite3
bundle.js
#user specific
#shak
.idea
*.ipynb

#justin
.DS_Store
npm-debug.log
bundle.js
API_KEY.js
