.jumbo {
  text-align: center;
}

.button {
  float: right;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}

/*body {
  background-image: url('http://i.huffpost.com/gen/3244066/images/o-SILK-ROAD-MAP-facebook.jpg');
  background-size: cover;
  clear: both;
}*/

.app {
  /*display: inline-block;*/
  background-size: 100%;
  min-height: 100%;
  margin: auto;
}

.parallax-div {
  /*display: inline-block;*/
  background-size: 100%;
  min-height: 100%;
}

html,body {
  height: 100%;
  width: 100%;
}