.jumbo {
  text-align: center;
}

.button {
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
}

.navbar {
  margin-bottom: 0;
}

.navbarprofile {
  float: right;
}

.searchform {
  margin-bottom: auto;
}

/*.parallax {
  background-repeat: no-repeat;
  height: 1500px;
  background-position: center;
}*/

.homelogo {
  opacity: 0.75;
}

.homesearchbutton {
  padding: 10px;
  font-size: 100px;
}


/*.parallax {
  background-image: url('http://s1.thingpic.com/images/1e/usAoQMdY4zvsZisn1WoUedDs.jpeg');
  width: fixed;

  padding-bottom: 700px; 
  overflow: hidden; 
  position: relative; 
  min-height: 800px;
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
} */

.title {background: white; padding: 60px; margin:0 auto; text-align:center;font-family: 'Ubuntu', sans-serif;}
.title h1 {font-size:35px; letter-spacing:8px;}

.parallax-two {
  padding-top: 200px;
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url("/img/high-resolution-wallpaper-city-wallpaper-picture-night.jpg"); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}


.parallax-one {
  padding-top: 200px;
  padding-bottom: 200px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url("http://www.petsprin.com/i/2016/12/high-resolution-wallpaper-city-wallpaper-picture.jpg"); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}
.parallax-one h2 {
    color: white;
}

.block {
  background: white; 
  padding: 60px; width:820px; 
  margin:0 auto; text-align:justify;
}
.block-gray {
  background: #f2f2f2;
  padding: 60px;
}

.section-overlay-mask {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: black; 
  opacity: 0.70;
}

.margin-top-10 {
  padding-top:10px;
}

.margin-bot-10 {
  padding-bottom:10px;
}

.first-character {
  font-weight:400; 
  float: left; font-size: 84px; 
  line-height: 64px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px; 
  font-family: 'Source Sans Pro', sans-serif;
}

.line-break {
  border-bottom:1px solid black; 
  width: 150px; 
  margin:0 auto;
}

h3 {
  background: black
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background: red;}
    to {background: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 500px;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.container {
  max-width: 50%;
  margin: 0 auto;
}

.container1 {
  position : relative;
  
  left: 50%;
  max-width: 50%;
  
}


.bubble {
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: lightblue;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.engagereqmain{
    position: absolute;
    overflow: auto;
    top: 52px;
    left: 0;
    width: 35%;
    height: 100%;
    border: 1px solid #73AD21;
}

.engagementlistentry {
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
}

.engagereq {
    position: absolute;
    overflow: auto;
    left: 0;
    width: 35%;
    height: 100%;
    border: 1px solid #73AD21;
    background: #d8e0de; /* Old browsers */
    background: -moz-linear-gradient(top, #d8e0de 0%, #aebfbc 22%, #99afab 33%, #8ea6a2 50%, #829d98 67%, #4e5c5a 82%, #0e0e0e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d8e0de 0%,#aebfbc 22%,#99afab 33%,#8ea6a2 50%,#829d98 67%,#4e5c5a 82%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.chatlistentry {
    
    right: 50%;
    width: 200px;
    
}
.chatbox {  
  position: absolute;
  right: 0;
  background: url("https://openclipart.org/download/221722/Cloud-Network.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 65%;
  overflow: auto;
  height: 100vh;
}

.messagelistentry {
    
    right: 50%;
    width: 650px;
    margin: 0 auto;
}

.pastengagement {
  background: url("https://openclipart.org/download/221722/Cloud-Network.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  height:  1000vh;
  width: 100%;
}

p.thick {
    font-weight: bold;
    color: black;
}

h2.title {
  color: white;
  margin-top: -50px;
  margin-bottom: -50px;
  background-color: black
}

.servicemap {
  background: url("http://7-themes.com/data_images/collection/3/4443457-cool-backgrounds.png");
  position: absolute;
  height: 180vh;
  width: 100%;;
  margin: 0 auto !important;
}

.googlemapsearch {
  position: absolute;
  right: 50%;
  width: 500;
}

.fluid{
  margin: 0 auto !important;
  left: 15px;
}

.googlemap {
  width: 1000;
  position: absolute;
  height: absolute;
  margin: 0 auto !important;
}