@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

body {
  /*background: #f8f5f0;*/
  background-image: url('https://openclipart.org/download/221722/Cloud-Network.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.profile-page-content {
  margin: auto;
  margin-top: 8%;
  width: 52em;
}

.card {
  background: #fff;
  border-radius: 1.4rem;
  border: .22em solid #5D5D5D;
  box-shadow: 5px 5px 5px #D6D6D6;
  margin-bottom: 1em; 
  padding: 0.1em;
}






.user-profile-page .user-profile-img {
	margin: 0 auto;
  text-align: center;
}

.user-profile-page .user-profile-img {
  background-image: url("/img/high-resolution-wallpaper-city-wallpaper-picture-night.jpg");
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
  padding-top: 7em;
  padding-bottom: 7em; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  border-radius: 10px 10px 0 0 ;
}

.user-profile-page .user-profile-img .avatar {
	margin: 0 auto;
  background: white;
  width: 15em;
  height: 15em;
  padding: 0.17em;
  border-radius: .17em 5em;
  margin-top: 1em;
}






.user-profile-page button {
  font-size: 13px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  /*width: 7em; */
  background: black;
  border: 1px solid #5D5D5D;
  border-radius: .6em .6em .6em .6em;
  padding: .50em;
  margin: 1em;
}

.user-profile-page button:hover {
  background: #4F4F4F;
  transition: background .1s ease-in-out;
  border: 1px solid #42E9D7;
}






.user-profile-page .user-profile-info, .user-profile-page .address {
  text-align: center;
  padding: 0 1.5em; 
}

.user-profile-page .user-profile-info .name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: .1em; 
}

.user-profile-page .user-profile-info .service {
	font-family: 'Ubuntu', sans-serif;
  color: #477BC7;
  font-weight: bold;
  /*text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 1px 1px black;*/
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1.5em; 
}

.user-profile-page .address {
  color: #75787b;
  font-size: 1.4em;
}

.profile-page-content .google-maps {
  width: absolute;
  height: 600px;
  border-radius: 1.4em;
  border: .22em solid #5D5D5D;
  box-shadow: 5px 5px 5px #D6D6D6;
}